services:
  db:
    image: postgres:13
    env_file:
      - environment/.env
    volumes:
      - db_data:/var/lib/postgresql/data
#    ports:
#      - "5432:5432"
    networks:
      - shop_network

  data:
    build:
      dockerfile: ./Dockerfile
      context: ./data
#    ports:
#      - "8004:8004"
    env_file:
      - environment/.env
    environment:
      - DATA_SERVICE_PORT=8004
      - DATA_SERVICE_HOST=0.0.0.0
      - DB_HOST=db
      - DB_TYPE=${DB_TYPE:-postgres}
      - MONGO_URI=${MONGO_URI:-mongodb://mongo:27017}
      - MONGO_DB=${MONGO_DB:-shop}
    depends_on:
      - db
    networks:
      - shop_network
    restart: unless-stopped

  product:
    build:
      dockerfile: ./Dockerfile
      context: ./product
    env_file:
      - environment/.env
    depends_on:
      - data
    networks:
      - shop_network

  auth:
    build:
      dockerfile: ./Dockerfile
      context: ./auth
    env_file:
      - environment/.env
    depends_on:
      - db
      - data
    networks:
      - shop_network

  cart:
    build: ./cart
#    ports:
#      - "8003:8003"
    depends_on:
      - db
      - auth
      - data
    env_file:
      - environment/.env
    networks:
      - shop_network

  gateway:
    build:
      dockerfile: ./Dockerfile
      context: ./gateway
    ports:
      - "8000:8000"
    environment:
      - GATEWAY_PORT=8000
      - AuthServiceUrl=http://auth:8002
      - ProductServiceUrl=http://product:8001
      - Cart_service_url=http://cart:8003
      - DATA_SERVICE_URL=http://data:8004
    depends_on:
      - auth
      - product
      - cart
      - data
    networks:
      - shop_network

  nginx:
    build:
      dockerfile: ./Dockerfile
      context: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./client/dist:/usr/share/nginx/html
      - ./environment/shop.key:/etc/nginx/shop.key:ro
      - ./environment/shop.crt:/etc/nginx/shop.crt:ro
    depends_on:
      - gateway
    networks:
      - shop_network

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: frontend_app
    env_file:
      - environment/.env
    environment:
      - NODE_ENV=development
    command: npm run build
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - auth
      - product
      - cart
    networks:
      - shop_network

volumes:
  db_data:
  mongo_data:

networks:
  shop_network:
    driver: bridge